<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" media="(prefers-color-scheme: light)">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#277476">
<meta name="msapplication-TileColor" content="#21262d">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">

<meta name="theme-color" content="#fdfdfd" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#21262d" media="(prefers-color-scheme: dark)">
