<!-- image -->
<figure class="image-container">
  {{ with .Get "link"}}<a href="{{.}}">{{ end }}
      <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} style="border-radius: 50%;" />
  {{ if .Get "link"}}</a>{{ end }}
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
  <figcaption class="caption">{{ if isset .Params "title" }}
      <span class="title">{{ .Get "title" }}</span>{{ end }}
      {{ if or (.Get "caption") (.Get "attr")}}<p>
      {{ .Get "caption" }}
      {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
          {{ .Get "attr" }}
      {{ if .Get "attrlink"}}</a> {{ end }}
      </p> {{ end }}
  </figcaption>
  {{ end }}
</figure>
<!-- image -->
